/* Navbar styles */
.navbar {
    background-color: #343a40; /* Background color */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: black !important; /* Text color */
    font-family: 'Comic Sans MS', cursive; /* Comic Sans font */
    font-size: 18pt; /* Font size */
}

    .navbar-brand:hover,
    .navbar-nav .nav-link:hover {
        color: #007bff !important; /* Text color on hover */
    }
